.BottomContainer {
  position: fixed;
  bottom: 0;
  background-color: #7d8f95;
  color: black;
  width: 75%;
  padding: 5px;
  border-radius: 15px;
  height: 25%;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }

@media screen and (max-width: 768px) {
  .BottomContainer {
    width: 100%;
  }
}