
.stopwatch-container{
 font-size: 30px;
 display: flex;
 justify-content: center;
 width: 30%;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
}
.stopwatch-time{
 
}

 .stopwatch-buttons {
  height: auto;
 }

 .stopwatch-buttons button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  height: 50%;
  width: 100%;
 }
 